body {
	background-image: url(/img/triangle.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
	@media (min-width: 768px) {
		height: 100vh;
	}

	font-family: 'Futura', sans-serif;
}

.jumbotron {
	background-color: #1F1D1D;
	
	@media (min-width: 768px) {
		border: 4px solid #B9B9B9;
	}
}

.profilna {
	width: 151px;
	height: auto;
}

hr {
	border-color: white;
	width: 2rem;
	float: left;
	margin-top: 0;
}

.columns {
	padding-bottom: 6rem;

	@media (min-width: 768px) {
		padding-bottom: 0;
	}
}

.cool-link {
    display: inline-block;
    color: #f3ff48 !important;
	text-decoration: none;
	letter-spacing: 1px;
	
}

.cool-link:hover {
	text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f3ff48 !important;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 60%;
}

.btn-link {
	font-size: .6rem;
}